meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
link(href="/stylesheets/layout.css" rel='stylesheet')
link(href="/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet')
link(href="/stylesheets/nav.css" rel='stylesheet')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')