doctype html
html(lang="zh-CN" ng-app="hyyApp" ng-controller="chat")
  head
    link(href="/stylesheets/chat.css" rel='stylesheet')
  include ./includes/head
  body
    .container
      p.chatCenter 与xxx聊天
      //- p.chatCenter xxx事件
      //- .chatContentLeft
      //-   .chatLeftFlag1
      //-   .chatLeftFlag2
      //-   img(src='/images/banner.jpeg')
      //-   div 
      //-     p 123sl你好你
      //- .chatContentRight
      //-   .chatRightFlag1
      //-   .chatRightFlag2
      //-   img(src='/images/banner.jpeg')
      //-   div 
      //-     p 123sl你好你好
      //-   .clear
      //- .chatContentRight
      //-   .chatRightFlag1
      //-   .chatRightFlag2
      //-   img(src='/images/banner.jpeg')
      //-   div 
      //-     p 123sl你好
      //-   .clear
    #chatInput
      .input-group
        input.form-control(type="text" ng-model='input')
        span.input-group-btn
          botton.btn.btn-default(type="button" ng-click='say()' ng-if='input') submit
          botton.btn.btn-default(disabled type="button" ng-if='!input') submit
    include ./includes/body
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.cookie.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')
