doctype html
html(lang="zh-CN" ng-app="hyyApp" ng-controller="login")
  head
    link(href="/stylesheets/login.css" rel='stylesheet')
  include ./includes/head
  body
    .container
      .body
        h2.lead.text-center register your account
        .alert.alert-success.text-center.alert-dismissible(role="alert" ng-if='(!warnOrInfo)&&warnOrInfoFlag')
          strong success: 
          |The account is success!
        .alert.alert-danger.text-center.alert-dismissible(role="alert" ng-if='warnOrInfo&&warnOrInfoFlag')
          strong fail! 
          |Account is exist!
        form.form
          .form-group.input-group
            input#inputError1.form-control(placeholder="Input account" ng-model='username' ng-blur='test()')
            .input-group-btn
              button.btn.btn-default(type="button" ng-click='test()') test
          .form-group
            lable.exampleInputEmail1(for='inputError1') realname:
            input#inputError1.form-control(placeholder="Input realname" ng-model='realname')
          .form-group
            lable.exampleInputEmail1(for='inputError1') key-question:
            input#inputError1.form-control(placeholder="Input keyQuestion" ng-model='keyQuestion')
          .form-group
            lable.exampleInputEmail1(for='inputError1') key-answer:
            input#inputError1.form-control(placeholder="Input keyAnswer" ng-model='keyAnswer')
          .form-group
            lable.exampleInputPassword1 password:
            input#exampleInputPassword1.form-control(placeholder="Input password" type='password' ng-model='password')
          .form-group
            lable.exampleInputPassword1 password:
            input#exampleInputPassword1.form-control(placeholder="Input password" type='password' ng-model='passwordNext')
        p if you have account but lose you password , please click <mark class='revise' ng-click='revise()'>revise</mark>
        button.btn.btn-sm.btn-primary(disabled type="button" ng-if='(!realname)||(!username)||(!keyQuestion)||(!keyAnswer)||(!password)||(!passwordNext)||(warnOrInfo)') register
        button.btn.btn-sm.btn-primary(type="button" ng-if='realname&&username&&keyQuestion&&keyAnswer&&password&&passwordNext&&!warnOrInfo' ng-click='register()') register
        
        //- button.btn.btn-sm.btn-primary(disabled type="button") register
        button.btn.btn-sm.btn-link(type="button" ng-click='login()') login
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/register.js')